.header {
  height: 120px;
  margin-left: 280px;
  position: fixed;
  width: calc(100% - 280px);
  border-bottom: 0.00001px solid #64646452;
  box-shadow: rgb(18 18 18) 0px 8px 28px 0px;
  background-color: var(--black-100);
  transition: background-color 0.5s ease-in-out, opacity 0.5s ease-in-out;
  z-index: 30;
}

.header--opacity {
  opacity: 16%;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  /* max-width: 80%; */
  padding: 0 2rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
  align-items: center;
}

@media (max-width: 1200px) {
  .header {
    margin-left: auto;
    width: 100%;
  }

  .header__nav {
    justify-content: flex-end;
  }
}

@media (max-width: 480px) {
  .header__nav {
    padding: 0 1rem;
  }
}
