.task-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* min-width: 345px; */
  padding: 26px 30px;
  background-color: var(--black-100);
  border: 0.00001px solid #64646452;
  box-shadow: rgb(18 18 18) 0px 8px 28px 0px;
  border-radius: var(--border-radius--default);
  transition: transform 0.5s ease-in-out;
}

.task-card:hover {
  transform: scale(1.1);
}
.task-card__info {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-bottom: 25px;
  border-bottom: 2px solid #64646452;
  flex: 1;
}

.task-card__title {
  font-size: 18px;
}

.task-card__paragraph {
  color: var(--white-70);
  font-size: 15px;
  max-width: 35ch;
  /* flex: 1; */
}

.task-card__category-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.task-card__category {
  padding: 8px 10px;
  font-size: 15px;
  font-weight: 600;
  color: var(--blue-100);
  background-color: var(--yelow-100);
  border-radius: var(--border-radius--default);
}

.task-card__controls {
  display: flex;
  align-items: center;
  gap: 8px;
}

.task-card__social-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
  font-size: 13px;
  width: 100%;
}

.task-card__comentary,
.task-card__date {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
