.header__user-info {
  display: flex;
  align-items: center;
  column-gap: 250px;
}

.header__greeting-hour {
  display: flex;
  align-items: center;
  column-gap: 100px;
  color: #171717;
}

.header__greeting {
  font-size: 0.875rem;
  font-weight: 500;
}

.header__hour {
  font-size: 0.875rem;
}

@media (max-width: 1200px) {
  .header__user-info {
    display: none;
  }
}
