.sidebar__navigation {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar__navigation-item {
  height: 40px;
}

.sidebar__navigation-link {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
  height: 100%;
  padding-left: 2rem;
  transition: 0.5s ease-in-out;
  border-radius: var(--border-radius--special);
}

.active-link {
  color: var(--blue-100);
  font-weight: bold;
  fill: var(--blue-100);
  width: 240px;
  height: 100%;
  background-color: #171717;
  stroke: white;
  color: white;
}
