.sidebar__navigation {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sidebar__navigation-link {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
  padding-left: 2rem;
}

.active-link {
  color: var(--blue-100);
  font-weight: bold;
  fill: var(--blue-100);
  width: 240px;
  height: 40px;
  background-image: var(--yellow-gradient);
  border-radius: var(--border-radius--special);
}
