.header__controls {
  display: flex;
  align-items: center;
  column-gap: 125px;
}

.header__search-form {
  position: relative;
}

.header__search-input {
  padding: 12px 28px;
  width: 250px;
  background-color: transparent;
  outline: none;
  border: none;
  border: 0.00001px solid #64646452;
  border-radius: var(--border-radius--special);
  font-size: 0.875rem;
}

.header__search-form svg {
  position: absolute;
  top: 9px;
  right: 13px;
}

.header__search-input::placeholder {
  color: var(--white-70);
}

.header__profile-notification {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__profile-pic {
  width: 45px;
  object-fit: cover;
  border-radius: 50%;
}

@media (max-width: 1200px) {
  .header__search-form {
    display: none;
  }
}
