.tasks__header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tasks__title {
  font-size: 31px;
  font-weight: 500;
}

.tasks__controls {
  display: flex;
  align-items: center;
  gap: 32px;
  justify-content: space-between;
  width: 100%;
}

.tasks__new-task {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border: none;
  outline: none;
  padding: 14px 19px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  color: var(--blue-100);
  transition: 0.5s ease-in-out;
  background-color: #171717;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: var(--border-radius--special);
  stroke: white;
}

.material-button:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); /* Sombra reducida al hacer clic */
  transform: translateY(1px); /* Efecto de elevación al hacer clic */
}

@media (max-width: 480px) {
  .tasks__controls {
    width: 100%;
    justify-content: space-between;
  }
}
