.tasks {
  display: flex;
  flex-direction: column;
  row-gap: 64px;
  /* max-width: 80%; */
  padding: 46px 2rem;
  max-height: 93%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  z-index: 10;
}

@media (max-width: 480px) {
  .tasks {
    padding: 46px 1rem;
  }
}
