.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 326px;
  padding-top: 39px;
  /* padding-left: 2rem; */
  /* min-height: 100vh;
  height: 100%; */
  /* overflow: auto; */
  z-index: 30;
}

.sidebar__logo-title {
  display: flex;
  align-items: center;
  column-gap: 16px;
  padding-left: 2rem;
  color: #171717;
}

.sidebar__logo {
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 3px solid #171717;
  transform: rotate(50deg);
}

.sidebar__company-name {
  font-size: 1.375rem;
  font-weight: 500;
}

.menu {
  display: none;
  position: relative;
  width: 30px;
  cursor: pointer;
  z-index: 30;
}

.menu__item {
  width: 100%;
  height: 3px;
  margin: 10px 0;
  border-radius: 20px;
  background-color: #171717;
  transition: transform 0.3s ease-in-out;
}

.menu.menu--open .menu__item:nth-child(1) {
  transform: rotate(-45deg) translate(-13px, -2px);
}

.menu.menu--open .menu__item:nth-child(2) {
  transform: rotate(44deg) translate(-11px, 4px);
}

.menu.menu--open .menu__item:nth-child(3) {
  opacity: 0;
}

.sidebar__bottom {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 36px;
  padding-top: 155px;
  padding-bottom: 1.5rem;
  padding-right: 1.4rem;
  padding-left: 1rem;
  border-right: 0.00001px solid #64646452;
  /* box-shadow: rgb(18 18 18) 0px 8px 28px 0px; */
  height: 100%;
  /* max-height: 96%; */
  font-weight: 500;
  flex: 1;
  position: fixed;
  transition: 0.3s left ease-in-out;
  z-index: 1;
  overflow: auto;
  background-color: #ffffff;
  color: #171717;
  font-size: 0.875rem;
}

.sidebar__logout-button {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px 30px;
  width: 240px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: var(--border-radius--special);
  font-size: 0.875rem;
  align-self: flex-end;
  justify-content: flex-start;
  cursor: pointer;
  background-color: #171717;
  stroke: white;
  color: white;
}

@media (max-width: 1200px) {
  .sidebar__bottom {
    left: -105%;
    padding-bottom: 23px;
    padding-top: 155px;
    max-height: none;
  }

  .sidebar__bottom--open {
    left: 0;
  }

  .sidebar__logo-title {
    column-gap: 28px;
  }

  .sidebar__company-name {
    display: none;
  }

  .menu {
    display: block;
  }
}

@media (max-width: 480px) {
  .sidebar__logo-title {
    padding-left: 1rem;
  }
}
