.new-task {
  padding: 46px 2rem;
  display: flex;
  column-gap: 70px;
  row-gap: 100px;
  flex-wrap: wrap;
}

.new-task__create {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  padding: 46px 2.1rem;
  min-width: 300px;
  border: 1px solid rgb(0 0 0 / 8%);
  border-radius: var(--border-radius--default);
}

.new-task__header {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.new-task__label-input {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.new-task__title-close {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-task__title-close svg {
  stroke: #171717;
}

.new-task__title {
  font-size: 15px;
  font-weight: bold;
  color: #171717;
}

.new-task__instructions {
  color: hsla(0, 0%, 40%, 1);
  max-width: 45ch;
  line-height: 1.3;
  font-size: 14px;
  text-wrap: pretty;
}

.new-task__form {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  color: var(--white-70);
}

.new-task__label {
  font-weight: bold;
  font-size: 14px;
  color: #171717;
}

.new-task__input-group {
  display: flex;
  flex-direction: column;
  row-gap: 9px;
}

.new-task__input {
  padding: 13px 12px;
  background-color: transparent;
  outline: none;
  border: 0.00001px solid #64646452;
  color: hsla(0, 0%, 40%, 1);
  border-radius: var(--border-radius--default);
  font-size: 13px;
}

.new-task__char-count {
  align-self: flex-end;
  font-size: 0.75rem;
  transition: 0.5s ease-in-out;
  color: hsla(0, 0%, 40%, 1);
}

.new-task__char-count--exceeded {
  color: red;
}

.new-task__select {
  padding: 13px 12px;
  background-color: transparent;
  outline: none;
  border: 0.00001px solid #64646452;
  color: hsla(0, 0%, 40%, 1);
  border-radius: var(--border-radius--default);
}

.new-task__select:focus {
  background-color: transparent;
}

.new-task__select option {
  color: hsla(0, 0%, 40%, 1);
}

.new-task__date-group {
  display: flex;
  justify-content: space-between;
  column-gap: 18px;
  row-gap: 28px;
  flex-wrap: wrap;
  margin-top: 9px;
}

.new-task__date-field {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  flex: 1;
}

.new-task__buttons {
  display: flex;
  align-self: flex-end;
  column-gap: 20px;
  row-gap: 20px;
  margin-top: 9px;
  flex-wrap: wrap;
}

.new-task__button--create {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border: none;
  outline: none;
  padding: 14px 19px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  color: white;
  transition: 0.5s ease-in-out;
  background-color: #171717;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: var(--border-radius--default);
}

.new-task__button--cancel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border: none;
  outline: none;
  padding: 14px 19px;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  color: hsla(0, 0%, 40%, 1);
  transition: 0.5s ease-in-out;
  background-color: transparent;

  border-radius: var(--border-radius--default);
  border: 0.00001px solid #64646452;
}

.new-task__share {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding: 46px 2rem;
  max-height: 200px;

  border: 1px solid rgb(0 0 0 / 8%);
  border-radius: var(--border-radius--default);
}

@media (max-width: 1000px) {
  .new-task__create {
    flex-grow: 1;
    min-width: auto;
    width: 100%;
  }

  .new-task__share {
    min-width: auto;
  }
}
